# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
dist/
build/
eggs/
*.egg
*.whl

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# Environment Variables
.env
*.env
*.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini